<% layout('layouts/boilerplate.ejs') %>
    <div class="container">
        <h1 class="text-center">EDIT CAMPGOUND</h1>
        <div class="col-6 offset-3 my-3 bg-secondary-subtle p-3 border border-dark rounded">
            <form action="/campgrounds/<%=campground._id%>?_method=PATCH" method="post">
                <div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <!--  name=campground[title] will create a objet campground      -->
                        <input type="text"  class="form-control" name="campground.title" id="title" value="<%=campground.title %>">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="textarea" rows="3"  class="form-control" name="campground[description]" id="description" ><%=campground.description%></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label me-2">Image url</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="logoForm">@</span>
                            <input type="url"  class="form-control" name="campground[image]" id="description" value="<%=campground.image%>">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col input-group">
                                <label for="location" class="form-label me-2">location</label>
                                <span class="input-group-text" id="logoForm"> &#8982;</span>
                                <input type="text"  class="form-control" name="campground[location]" id="location" value="<%=campground.location%>">
                            </div>
                            <div class="col input-group">
                                <label for="price" class="form-label me-2">Price/Night</label>
                                <span class="input-group-text" id="logoForm">€</span>
                                <input type="text"  class="form-control" name="campground[price]" id="price" placeholder="8.90" value="<%=campground.price%>">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Edit campground</button>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-danger">Back to campground</a>
                </div>
            </form>
        </div>

    </div>
