<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/styles/images.css" class="rel"> 

    <div class="container">
        <h1 class="text-center">EDIT CAMPGOUND</h1>
        <div class="col-md-6 offset-md-3 my-3 bg-secondary-subtle p-3 border border-dark rounded">
            <form action="/campgrounds/<%=campground._id%>?_method=PATCH" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <!--  name=campground[title] will create a objet campground      -->
                        <input type="text"  class="form-control" name="campground[title]" id="title" value="<%=campground.title %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a title campground.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="textarea" rows="3"  class="form-control" name="campground[description]" id="description" required><%=campground.description%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please describe with more than 10 words.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="imageUpload" class="label me-2">Image(s)  uploaded</label>
                        <div class="row justify-content-center">
                            <%campground.images.forEach((image,i)=>{ %>
                                <div class="mb-3 col-3 object-fit-contain border justify-content-center">
                                    <!-- <img src="<%#image.url%>" alt="image campground" class="img-thumbnail "></br> -->
                                    <img src="<%=image.thumbnail %>" alt="image campground" class="img-thumbnail border border-5 rounded-4 d-block mx-auto">

                                    <div class="form-check mx-3">
                                        <input class="form-check-input" type="checkbox" id="image-<%=i%>" value="<%=image.filename%>" name="deleteImages[]">
                                        <label class="form-check-label " for="image-<%=i%>" >delete?</label>
                                    </div>
                                </div>
                            <%})%>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label me-2">Add images</label>
                        <div class="input-group ">
                            <span class="input-group-text" id="logoForm">&#9978;</span>
                            <input type="file"  class="form-control" name="image" id="image"  multiple onchange="previewMultiple(event)">
                            <div id="formFile">
                                <img src="" alt="">
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Need  image url.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col input-group">
                                <label for="location" class="form-label me-2">location</label>
                                <span class="input-group-text" id="logoForm"> &#8982;</span>
                                <input type="text"  class="form-control" name="campground[location]" id="location" value="<%=campground.location%>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Where is the campground.
                                </div>
                            </div>
                            <div class="col input-group">
                                <label for="price" class="form-label me-2">Price/Night</label>
                                <span class="input-group-text" id="logoForm">€</span>
                                <input type="text"  class="form-control" name="campground[price]" id="price" placeholder="8.90" value="<%=campground.price%>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Is it free?
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Edit campground</button>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-danger">Back to campground</a>
                </div>
            </form>
        </div>

    </div>
